:root{
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    --mon-size: 100px;
    --tue-size: 175px;
    --wed-size: 30px;
    --thu-size: 40px;
    --fri-size: 50px;
    --sat-size: 60px;
    --sun-size: 70px;
}


body {
    font-size: 18px;
    background-color: var(--cream);
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-items: center; */

}

.container{
    width: 550px;
}

.top {
    background-color: var(--soft-red);
    color: var(--very-pale-orange);
    border-radius: 15px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.balance p{
    color: var(--cream);
    margin: 18px 0px 3px;
}

.balance h2{
    color: var(--cream);
    margin: 0px 0px 18px;
    font-size: 2rem;
}

.spending h2{
    color: var(--dark-brown);
    margin: 0px 0px 8px;
    font-size: 2.2rem;
    padding: 0px 5px;
}

.graph {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 225px;
    margin: 0px;
}

.days{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amt{
    background-color: var(--dark-brown);
    color: var(--cream);
    border-radius: 4px;
    padding: 7px;
    margin: 7px 0px;
    visibility: hidden;
}

.bar{
    border-radius: 4px;
    background-color: var(--soft-red);
    width: 45px;
}

#mon-bar{
    height: var(--mon-size);
    
}

#tue-bar{
    height: var(--tue-size);
}

#wed-bar{
    height: var(--wed-size);
}

#thu-bar{
    height: var(--thu-size);
}

#fri-bar{
    height: var(--fri-size);
}

#sat-bar{
    height: var(--sat-size);
}

#sun-bar{
    height: var(--sun-size);
}


.line {
    border-bottom: 2px solid var(--cream);
    margin: 25px 0;
    width: 100%;
}




.bar:hover{
    filter:opacity(65%);
    cursor: pointer;
}

.summary-card {
    background-color: var(--very-pale-orange);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 30px;
    max-height: 480px;
}

.bottom {
    display: flex;
    align-content: space-between;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 5px;


}

.summary-card p{
    color: var(--medium-brown);
}

.graph p{
    font-size: .95rem;
    margin: 5px;
}

.bottom h1,
.bottom h3{
    color: var(--dark-brown);
}
.bottom p {
    margin: 0px;
}

.month-total h1{
    margin: 0px 0px 0px;
    font-size: 2.8rem;
}
.percent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.percent h3{
    margin: 18px 0px 0px;
    font-size:13pt;

}


@media screen and (max-width:430px) {

    .container{
        width: 380px;
    }


    
    .spending h2{
        color: var(--dark-brown);
        margin: 0px 0px 8px;
        font-size: 1.6rem;
        padding: 0px 5px;
    }

    .summary-card {
        background-color: var(--very-pale-orange);
        border-radius: 15px;
        margin: 20px 0px;
        padding: 20px;
        max-height: 580px;
    }

    .graph {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width:200px;
        height: 220px;
        margin: 0px;
    }

    .bar{
        border-radius: 4px;
        background-color: var(--soft-red);
        width: 35px;
    }

    .amt{
        background-color: var(--dark-brown);
        color: var(--cream);
        border-radius: 4px;
        padding: 7px;
        margin: 7px 0px;
        visibility: hidden;
        width: 35px;
    }
    
    .month-total p{
        /* margin: 20px 0px 0px; */
        font-size: 1.1rem;
    }

    .bottom h1{
        font-size: 2.2rem;

    }

    .percent p{
        font-size: .95rem;
    }

  }